*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.navbar{
    height: 50px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.nav-logo{
    width:100px;
}
.logo{
    height: 60px;
    width: 100px;
    background-size: cover;
    background-image: url("amazon_logo.png");
}
.nav-address{

}
.a_class{
    display:flex;
}
.add_first{
    padding-top:7px;
    padding-left: 14px;
    font-size: 12px;
    color: #CCCCCC;
}
.add_second{
    padding-left: 4px;
    font-size: 16px;
    color: #FFFFFF;
}
.nav-search{
    display:flex;
    height: 35px;
    width: 650px;
    margin-top: 7px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search_icon{
    background-color: pink;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-search:hover{
    border:1.8px solid orange;
}
.search_select{
    width: 100%;
    font-size: 0.9rem;
    border: none;
    padding-left: 0.4rem;

}
.search_input{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.nav-fir{
    font-size: 0.7rem;
    margin-top: 10px;
}
.nav-sec{
    font-size: 0.85rem;
    margin-top: 5px;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    align-items: center;
}
.nav-cart i{
    font-size: 1.6rem;
    margin-right: 0.6rem;
}
.nav-cart p{
    font-weight: 600;
    margin-top: 0.3rem;
}
.panel{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
}
.panel_menu{
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
    margin-right:1.5rem
}
.panel_menu i{
    margin-right: 0.3rem;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}
.panel_menu_content{
    font-weight: 700;
    font size: 1rem;
}
.panel_shop{
    display:flex;
    align-items: center;
    width: 70%;
}
.panel_shop p{
    margin-right: 1.2rem;
    font-weight: 300;
}
.panel_deals{
    align-items: center;
    font-weight: 700;
}

.hero_section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 600px;
}
.hero_content{
    justify-content: center;
    background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 0  .85rem;
}
.hero_content a{
    color: #007185;
}